body {
    font-family: 'Serif', 'Georgia', serif;
}

@font-face {
  font-family: great_vibes; /* set name */
  src: url('assets/Great_Vibes/GreatVibes-Regular.woff'); /* url of the font */
}

.background-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./assets/back.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Keeps it behind everything */
}

.title-block {
    background: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    border-radius: 15px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
/*    font-family: vivosanskz, serif;*/
font-family: "Viaoda Libre", serif;
font-weight: 600;
    font-size: 20px;
}

.info-block h2 {
   font-family: great_vibes, cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
/*  color: rgb(61, 59, 58);*/
color: rgb(190,139,146);
}
.info-block {
    background: rgba(255, 255, 255, 0.9);
    margin: 100px auto;
    padding: 50px;
    border-radius: 15px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
/*    font-family: vivosanskz, serif;*/
font-family: "Viaoda Libre", serif;
font-weight: 600;
    font-size: 20px;
    color: rgb(101 97 94);
}

.headingImg{
    width: 400px;
    margin-bottom: 20px;
}

input[type=text], select {
  width: 80%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.rsvp-radio-group {
  border: none; /* Removes the default border */
  margin: 10px 0;
  text-align: left;
}

.rsvp-radio-group legend {
font-family: "Viaoda Libre", serif;
font-weight: 600;
font-size: 20px;
  margin-bottom: 10px;
  color: rgb(101 97 94);
}

.rsvp-radio-group div {
  margin-bottom: 5px; /* Adds spacing between options */
  font-size: 18px;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: rgb(190,139,146);
  cursor: pointer;
  display: inline-block;
  font-family: great_vibes, cursive;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 8px 20px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

#musicToggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#titleImg {
/*    max-width: 600px;*/
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}